{% extends "user/base.html" %}
{% block head_content %}
<title>sing in</title>
{% endblock %}
{% block container %}
    {% if error %}
        <p style="color : red" > {{error}} </p>
    {% endif %}

    <form action="{% url "login" %}" method="POST">
    {% csrf_token %}
        <label for="username">Username</label>
        <input id="username" type="text" name="username">
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
        <button type="submit"> Ingresar </button>
  </form>
{% endblock %}