{% extends "user/base.html" %}
{% block head_content %}
<title>sing in</title>
{% endblock %}
{% block container %}
    {% if form.errors %}
        <p style="color : red" > {{form.errors}} </p>
    {% endif %}

    <form action="{% url 'updateprofile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <p name="biography">{{user.username}}</p>
        <p name="biography">{{user.get_full_name}}</p>
        <p name="biography">{{profile.user}}</p>

        <input id="Webpage"
               placeholder="Web Page"
               value="{{profile.wePage}}"
               type="url" name="wePage">
        <input id="InterestSeller"
               placeholder="Interest"
               value="{{ profile.interest }}"
               type="text" name="interest">
        <input id="imageProfile"
               value="{{ profile.image }}"
               type="file" name="image">
        <button type="submit" value="OK"> Actualizar </button>
  </form>
{% endblock %}