{% extends "user/base.html" %}
{% block head_content %}
<title>sing in</title>
{% endblock %}
{% block container %}
    {% if errorsignup %}
        <p style="color : red" > {{errorsignup}} </p>
    {% endif %}

    <form action="{% url 'updateprofile' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <p name="biography">{{user.username}}</p>
        <p name="biography">{{profile.user}}</p>

        <input id="Webpage"
               placeholder="Web Page"
               value="{{profile.wePage}}"
               type="text" name="webpage">
        <input id="InterestSeller"
               placeholder="Interest"
               value="{{ profile.interest }}"
               type="Interest" name="Interest">
        <input id="imageProfile"
               value="{{ profile.image }}"
               type="file" name="Image">dd
        <button type="submit"> Actualizar </button>
  </form>
{% endblock %}